header {
    background-image: linear-gradient(to right, #a25b5b, #692e4c);
    /*padding: 1.5em 2em; remove padding since we're using the "section" utility class */
    font-size: 1.6em;
}

.section {
    padding: 30px;
}

.flex,
.row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 1;
    padding: 10px;
}

.box {
    background: #e3e3e3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
